

@font-face {
	font-family: 'icomoon' !important;
	src:url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.eot?k5585u') !important;
	src:url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.eot?#iefixk5585u') format('embedded-opentype'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.woff?k5585u') format('woff'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.ttf?k5585u') format('truetype'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.svg?k5585u#icomoon') format('svg') !important;
	font-weight: normal !important;
	font-style: normal !important;
}

[class^="ps-icon-"], [class*=" ps-icon-"] {
	font-family: 'icomoon' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}


.ps-icon-directions:before {
	content: "\e600";
}
.ps-icon-paperclip:before {
	content: "\e601";
}
.ps-icon-users:before {
	content: "\e602";
}
.ps-icon-vcard:before {
	content: "\e603";
}
.ps-icon-export:before {
	content: "\e604";
}
.ps-icon-cog:before {
	content: "\e605";
}
.ps-icon-info:before {
	content: "\e606";
}
.ps-icon-list:before {
	content: "\e607";
}
.ps-icon-text:before {
	content: "\e608";
}



