

@font-face {
	font-family: 'icomoon' !important;
	src:url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.eot?k5585u') !important;
	src:url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.eot?#iefixk5585u') format('embedded-opentype'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.woff?k5585u') format('woff'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.ttf?k5585u') format('truetype'),
		url('chrome-extension://__MSG_@@extension_id__/css/fonts/icomoon.svg?k5585u#icomoon') format('svg') !important;
	font-weight: normal !important;
	font-style: normal !important;
}

[class^="ps-icon-"], [class*=" ps-icon-"] {
	font-family: 'icomoon' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}


.ps-icon-stack:before {
	content: "\e616";
}
.ps-icon-download:before {
	content: "\e609";
}
.ps-icon-upload:before {
	content: "\e60a";
}
.ps-icon-menu:before {
	content: "\e617";
}
.ps-icon-minus:before {
	content: "\e618";
}
.ps-icon-plus:before {
	content: "\e619";
}
.ps-icon-directions:before {
	content: "\e600";
}
.ps-icon-paperclip:before {
	content: "\e601";
}
.ps-icon-users:before {
	content: "\e602";
}
.ps-icon-vcard:before {
	content: "\e603";
}
.ps-icon-export:before {
	content: "\e604";
}
.ps-icon-popup:before {
	content: "\e60b";
}
.ps-icon-cog:before {
	content: "\e605";
}
.ps-icon-minus2:before {
	content: "\e60c";
}
.ps-icon-plus2:before {
	content: "\e60d";
}
.ps-icon-info:before {
	content: "\e606";
}
.ps-icon-list:before {
	content: "\e607";
}
.ps-icon-text:before {
	content: "\e608";
}
.ps-icon-archive:before {
	content: "\e61a";
}
.ps-icon-arrow-left:before {
	content: "\e60e";
}
.ps-icon-arrow-down:before {
	content: "\e60f";
}
.ps-icon-arrow-up:before {
	content: "\e610";
}
.ps-icon-arrow-right:before {
	content: "\e611";
}
.ps-icon-arrow-left2:before {
	content: "\e612";
}
.ps-icon-arrow-down2:before {
	content: "\e613";
}
.ps-icon-arrow-up2:before {
	content: "\e614";
}
.ps-icon-arrow-right2:before {
	content: "\e615";
}