
body .page_swarm{
	position: fixed; !important;
	top:0 !important;
	right: 0 !important;
	width: 0px !important;
	height: 100% !important;
	z-index:9999999999999 !important;
	font-family: verdana !important;
	width: 0 !important;
}

body .page_swarm{
	color: #000;
}

body .page_swarm .page_swarm_tab{
	border: 4px solid black !important;
	border-right: 0px !important;
	background-color: #f2cf39 !important;
	position: fixed !important;
	top: 40% !important;
	right: -70px;
	cursor: pointer !important;
	width: auto !important;
	height: auto !important;
	z-index:99999 !important;
	padding: 6px !important;
	-webkit-border-top-left-radius: 8px !important;
	-webkit-border-bottom-left-radius: 8px !important;
	-moz-border-radius-topleft: 8px !important;
	-moz-border-radius-bottomleft: 8px !important;
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	-moz-box-shadow:    -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	box-shadow:         -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;	
}

body .page_swarm .page_swarm_tab .tab_icon{
	width: 38px !important;
	height: 46px !important;
	padding: 0 !important;
	margin: 0 !important;
	background-repeat: no-repeat !important;
}


body .page_swarm .page_swarm_discussion{
	overflow: hidden;
	border-left: 1px solid #636363 !important;
	background-color: #d2d2d2 !important;
	position: fixed !important;
	top: 0 !important;
	right: -500px;
	z-index:99999 !important;	
	height: 100% !important;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	-moz-box-shadow:    -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	box-shadow:         -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	background-image : url('chrome-extension://__MSG_@@extension_id__/images/honey_comb.png');
}

body .page_swarm .page_swarm_discussion .page_swarm_left{
	width: 400px !important;
	float: left !important;
	height: 100%;
	overflow: hidden; 	
}

body .page_swarm .page_swarm_discussion .page_swarm_user_list{
	width: 0px;
	height: 100% !important;
	background-color: #231f20 !important;
	float: right !important;
}

body .page_swarm .page_swarm_discussion .page_swarm_user_list h2{
	font-size: 14px;
	text-align: center;
	color: #f2cf39;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border: 1px solid  #231f20;
	width: 120px;
}

body .page_swarm .page_swarm_discussion .page_swarm_user_list .user_list p{
	color: #fff !important;
	width: 120px !important;
	font-size: 12px !important;
	padding: 1px 6px 1px 6px !important;
	margin: 0 !important;
}

body .page_swarm .header_bar{						
	width:400px !important;
	height: 35px !important;	
	background-color: #f2cf39 !important;
	border-bottom: 3px solid #000000 !important;
	float: left;
	color: #000000 !important;
	position: inherit;
}

body .page_swarm .header_bar .close_app{
	cursor: pointer !important;
}

body .page_swarm .header_bar .logo{					
	float:left !important;
	width:30px !important;
	padding:3px !important;
	color:#ffffff !important;
}

body .page_swarm .header_bar .ps_icons{
	font-size: 20px !important;
	color: #000000 !important;
}

body .page_swarm .header_bar .ps_icons.left{
	float: left !important;
}
body .page_swarm .header_bar .ps_icons.right{
	float: right !important;
}

body .page_swarm .header_bar .ps_icon{
	float: left !important;
	padding: 2px !important;
	font-size: 20px !important;
	color: #000000 !important;
	margin:4px !important;
	border: 1px solid #f2cf39;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

body .page_swarm .header_bar .ps_icon:hover{
	border: 1px solid #333;
	background-color: #f2cf39;
   -moz-box-shadow:    inset 0 0 10px  rgba(50, 50, 50, 0.3);
   -webkit-box-shadow: inset 0 0 10px  rgba(50, 50, 50, 0.3);
   box-shadow:         inset 0 0 10px  rgba(50, 50, 50, 0.3);
}

body .page_swarm .header_bar .users{
	float:right !important;
	cursor: pointer !important;
	position: relative;
}

body .page_swarm .header_bar .bottom_header{
	font-size: 10px !important;
	position: absolute;
	bottom: 0;
	height: 17px;
	border-top: 1px solid #000;
	width: 400px;
	z-index: 9999;
	background-color: #f2cf39 !important;		
}


body .page_swarm .header_bar .bottom_header .terms_of_use{
	float: left;
	font-size: 14px;
	margin: 2px;
	cursor: pointer;
}

body .page_swarm .header_bar .connections{
	padding:0px !important;
	margin: 2px;
	padding-right: 8px;
	margin-right: 10px;
	float: right;
}

body .page_swarm .header_bar .connections .connection_count{
	color: #000000;
	text-align: center; !important;	
}

body .page_swarm .page_swarm_contents{
	float:left !important;
	width:400px !important;
	font-size: 12px !important;
	height: 100% !important;
}

body .page_swarm .page_swarm_contents .status{									
	padding: 4px !important;
	color:#333333 !important;
	font-size:12px !important;
	padding:6px !important;
}

body .page_swarm .page_swarm_contents .status .status_message{
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	background-color: #caffe0 !important;
	border: 1px solid #ccc !important;
	padding: 4px !important;
}		

body .page_swarm .page_swarm_contents .usernameForm{
	margin: 4px !important;
	padding: 8px !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	font-size: 14px !important;
	color: #333 !important;
	text-align: left !important;
}

body .page_swarm .page_swarm_contents .usernameForm input{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	font-size: 14px !important;
	width: 200px !important;
	padding: 8px !important;
	border: 1px solid #ccc !important;
}

body .page_swarm .page_swarm_contents .usernameForm input:focus{
	outline: 0 !important;
}

body .page_swarm .page_swarm_contents .chatarea{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	padding:0 !important;
	overflow: hidden !important;
	height: 100%;
}

body .page_swarm .page_swarm_contents .chatarea .chat_wrapper{
	overflow: hidden !important;
	height: 100%;
}

body .page_swarm .page_swarm_contents .conversation_holder{
	height: 100%;
	overflow-y: scroll;
	position: relative;
	margin-top: 10px;
}

body .page_swarm .page_swarm_contents .conversation_holder .empty_comments{
	padding: 6px !important;
}

body .page_swarm .page_swarm_contents .conversation_holder .conversation{
}



body .page_swarm .page_swarm_contents .conversation_holder .conversation .emotocon{
	padding-left: 2px;
	padding-right:2px;
}


body .page_swarm .page_swarm_contents .chatarea .message{
	border: 1px solid #999 !important;
	margin: 6px !important;
	position: relative !important;
	padding: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	background-color: #fff !important;
	overflow: hidden;
}


body .page_swarm .page_swarm_contents .chatarea .facecons{
	padding: 0px;
	margin: 0px;
	width: 100%;
	
	border-top: 1px solid #ccc;
	overflow: hidden;
}

body .page_swarm .page_swarm_contents .chatarea .facecon{
	background-color: #fff;
	float: right;
	padding: 3px;
	margin: 0;
	cursor: pointer;
}


body .page_swarm .page_swarm_contents .chatarea .fonticon{
	padding-left: 2px;
	padding-right: 2px;
}

body .page_swarm .page_swarm_contents .chatarea .message .facecons_trigger{
	background-color:#fff;
	cursor: pointer;
	display: block;
}

body .page_swarm .page_swarm_contents .chatarea .message .data{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	font-size: 14px !important;
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
	background-color: #fff !important;
	border: 1px solid #fff !important;
	width: 100%;
	height: 70px;
	outline: 0 !important;
	resize: none;
	text-align: left;
	overflow: hidden;
	overflow-y: auto;
	word-wrap:inherit; 
}

body .page_swarm .page_swarm_contents .chatarea .message .data .emotocon{
	padding-left: 2px;
	padding-right:2px;
}


body .page_swarm .page_swarm_contents .chatarea .message .data:focus{
	outline: 0 !important;
}


body .page_swarm .page_swarm_contents .chatarea .message_post{
	width: 100% !important;
	overflow: hidden !important;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

body .page_swarm .page_swarm_contents .chatarea .message_post .date{
	font-size: 10px !important;
	color: #999;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.left{
}
body .page_swarm .page_swarm_contents .chatarea .message_post.left p.name{
	text-align: right !important;
	float: left !important;
	width: 80px !important;
	margin-left: 6px;
}
body .page_swarm .page_swarm_contents .chatarea .message_post.left p.message_data{
	float: right !important;
	padding: 4px !important;
	margin: 0 !important;
	width: 290px !important;
	background-color: #ffffff !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;		
	margin-right: 8px !important;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.right{
}
body .page_swarm .page_swarm_contents .chatarea .message_post.right p.name{
	text-align: left !important;
	float: right !important;
	width: 80px !important;
	margin-right: 6px;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.right p.message_data{
	float: left !important;
	padding: 4px !important;
	margin: 0 !important;
	width: 290px !important;
	background-color: #ffffff !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;		
	margin-left: 8px !important;
}

body .page_swarm .conversation_holder .conversation .spacer{
	height: 200px !important;
	width: 100% !important;
}




