body .page_swarm{
	position: fixed; !important;
	top:0 !important;
	right: 0 !important;
	width: 0px !important;
	height: 100% !important;
	z-index:9999999999999 !important;
	font-family: verdana !important;

	width: 0 !important;

}

body .page_swarm .page_swarm_tab{
	border: 4px solid black !important;
	border-right: 0px !important;
	background-color: #f2cf39 !important;
	position: fixed !important;
	top: 40% !important;
	right: -70px;
	cursor: pointer !important;
	width: 38px !important;
	height: 46px !important;
	z-index:99999 !important;
	padding: 6px !important;
	padding-right: 4px !important;
	-webkit-border-top-left-radius: 8px !important;
	-webkit-border-bottom-left-radius: 8px !important;
	-moz-border-radius-topleft: 8px !important;
	-moz-border-radius-bottomleft: 8px !important;
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	-moz-box-shadow:    -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	box-shadow:         -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;	
}

body .page_swarm .page_swarm_tab .tab_icon{
	width: 38px !important;
	height: 46px !important;
	background-repeat: no-repeat !important;
}


body .page_swarm .page_swarm_discussion{
	border-left: 1px solid #636363 !important;
	background-color: #d2d2d2 !important;
	position: fixed !important;
	top: 0 !important;
	right: -500px;
	z-index:99999 !important;	
	height: 100% !important;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	-moz-box-shadow:    -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;
	box-shadow:         -5px 0px 10px 0px rgba(50, 50, 50, 0.30) !important;

}

body .page_swarm .page_swarm_discussion .page_swarm_left{
	width: 360px !important;
	float: left !important;
	height: 100%;
	overflow: hidden; 	
}

body .page_swarm .page_swarm_discussion .page_swarm_user_list{
	width: 0px;
	height: 100% !important;
	background-color: #231f20 !important;
	float: right !important;
}

body .page_swarm .page_swarm_discussion .page_swarm_user_list h2{
	font-size: 14px;
	text-align: center;
	color: #f2cf39;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border: 1px solid  #231f20;
	width: 120px;
}
body .page_swarm .page_swarm_discussion .page_swarm_user_list .user_list p{
	color: #fff !important;
	width: 120px !important;
	font-size: 12px !important;
	padding: 1px 6px 1px 6px !important;
	margin: 0 !important;
}

body .page_swarm .header_bar{						
	width:360px !important;
	height: 35px !important;	
	background-color: #f2cf39 !important;
	overflow:hidden !important;
	border-bottom: 3px solid #000000 !important;
	float: left;
}

body .page_swarm .header_bar .close_app{
	cursor: pointer !important;
}

body .page_swarm .header_bar .logo{					
	float:left !important;
	width:30px !important;
	padding:3px !important;
	color:#ffffff !important;
}

body .page_swarm .header_bar .ps_icons{
	font-size: 22px; 
}

body .page_swarm .header_bar .ps_icons.left{
	float: left;
}
body .page_swarm .header_bar .ps_icons.right{
	float: right;
}

body .page_swarm .header_bar .ps_icon{
	float: left;
	padding: 5px;
}

body .page_swarm .header_bar .users{
	float:right !important;
	width:30px !important;
	padding:6px !important;
	cursor: pointer !important;	
}

body .page_swarm .header_bar .connections{
	float:right !important;
	width:140px !important;
	padding:10px !important;
	font-size: 12px !important;
	text-align: right !important;
}

body .page_swarm .page_swarm_contents{
	float:left !important;
	width:360px !important;
	font-size: 12px !important;
	height: 100% !important;
}

body .page_swarm .page_swarm_contents .status{									
	padding: 4px !important;
	color:#333333 !important;
	font-size:12px !important;
	padding:6px !important;
}

body .page_swarm .page_swarm_contents .status .status_message{
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	background-color: #caffe0 !important;
	border: 1px solid #ccc !important;
	padding: 4px !important;
}		

body .page_swarm .page_swarm_contents .usernameForm{
	margin: 4px !important;
	padding: 8px !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	font-size: 14px !important;
	color: #333 !important;
	text-align: left !important;
}

body .page_swarm .page_swarm_contents .usernameForm input{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	font-size: 14px !important;
	width: 200px !important;
	padding: 8px !important;
	border: 1px solid #ccc !important;
}

body .page_swarm .page_swarm_contents .usernameForm input:focus{
	outline: 0 !important;
}

body .page_swarm .page_swarm_contents .chatarea{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	padding:0 !important;
	overflow: hidden !important;
	height: 100%;
}

body .page_swarm .page_swarm_contents .chatarea .chat_wrapper{
	overflow: hidden !important;
	height: 100%;
}

body .page_swarm .page_swarm_contents .conversation_holder{
	height: 100%;
	overflow-y: scroll;
	position: relative; 
}

body .page_swarm .page_swarm_contents .conversation_holder .empty_comments{
	padding: 6px !important;
}

body .page_swarm .page_swarm_contents .conversation_holder .conversation{
}



body .page_swarm .page_swarm_contents .chatarea .message{
	border: 1px solid #999 !important;
	margin: 6px !important;
	position: relative !important;
	padding: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	background-color: #fff !important;
	overflow: hidden;
}


body .page_swarm .page_swarm_contents .chatarea .facecons{
	padding: 0px;
	margin: 0px;
	width: 100%;
	
	border-top: 1px solid #ccc;
	overflow: hidden;
}

body .page_swarm .page_swarm_contents .chatarea .facecon{
	font-size: 16px;
	background-color: #fff;
	float: right;
	padding: 3px;
	margin: 0;
	display: none;
}


body .page_swarm .page_swarm_contents .chatarea .message .facecons_trigger{
	background-color:#fff;
	cursor: pointer;
	display: block;
}

body .page_swarm .page_swarm_contents .chatarea .message textarea{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
	font-size: 14px !important;
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
	background-color: #fff !important;
	border: 1px solid #fff !important;
	width: 100%;
	outline: 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
	-moz-box-shadow:    0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
	box-shadow:         0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
	 resize: none;
}

body .page_swarm .page_swarm_contents .chatarea .message textarea:focus{
	outline: 0 !important;
}


body .page_swarm .page_swarm_contents .chatarea .message_post{
	width: 100% !important;
	overflow: hidden !important;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

body .page_swarm .page_swarm_contents .chatarea .message_post .date{
	font-size: 10px !important;
	color: #999;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.left{
}
body .page_swarm .page_swarm_contents .chatarea .message_post.left p.name{
	text-align: right !important;
	float: left !important;
	width: 80px !important;
	margin-left: 6px;
}
body .page_swarm .page_swarm_contents .chatarea .message_post.left p.message_data{
	float: right !important;
	padding: 4px !important;
	margin: 0 !important;
	width: 250px !important;
	background-color: #ffffff !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;		
	margin-right: 8px !important;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.right{
}
body .page_swarm .page_swarm_contents .chatarea .message_post.right p.name{
	text-align: left !important;
	float: right !important;
	width: 80px !important;
	margin-right: 6px;
}

body .page_swarm .page_swarm_contents .chatarea .message_post.right p.message_data{
	float: left !important;
	padding: 4px !important;
	margin: 0 !important;
	width: 250px !important;
	background-color: #ffffff !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;		
	margin-left: 8px !important;
}


body .page_swarm .conversation_holder .conversation .spacer{
	height: 180px !important;
	width: 100% !important;
}






/* //////////////////////////////////////////////////////////////// */


@font-face {
	font-family: 'icomoon';
	src:url('chrome-extension://imppjfmjiccjpaoahfeamcgdmplcflfn/css/fonts/icomoon.eot?k5585u');
	src:url('chrome-extension://imppjfmjiccjpaoahfeamcgdmplcflfn/css/fonts/icomoon.eot?#iefixk5585u') format('embedded-opentype'),
		url('chrome-extension://imppjfmjiccjpaoahfeamcgdmplcflfn/css/fonts/icomoon.woff?k5585u') format('woff'),
		url('chrome-extension://imppjfmjiccjpaoahfeamcgdmplcflfn/css/fonts/icomoon.ttf?k5585u') format('truetype'),
		url('chrome-extension://imppjfmjiccjpaoahfeamcgdmplcflfn/css/fonts/icomoon.svg?k5585u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-thumbs-up:before {
	content: "\e601";
}
.icon-thumbs-up2:before {
	content: "\e602";
}
.icon-happy:before {
	content: "\e603";
}
.icon-smiley:before {
	content: "\e604";
}
.icon-tongue:before {
	content: "\e605";
}
.icon-sad:before {
	content: "\e606";
}
.icon-wink:before {
	content: "\e607";
}
.icon-grin:before {
	content: "\e608";
}
.icon-cool:before {
	content: "\e609";
}
.icon-angry:before {
	content: "\e60a";
}
.icon-evil:before {
	content: "\e60b";
}
.icon-shocked:before {
	content: "\e60c";
}
.icon-confused:before {
	content: "\e60d";
}
.icon-neutral:before {
	content: "\e60e";
}
.icon-wondering:before {
	content: "\e60f";
}
.icon-point-up:before {
	content: "\e610";
}
.icon-point-right:before {
	content: "\e611";
}
.icon-point-down:before {
	content: "\e612";
}
.icon-point-left:before {
	content: "\e613";
}
.icon-checkmark-circle:before {
	content: "\e614";
}
.icon-chrome:before {
	content: "\e615";
}
.icon-reply:before {
	content: "\e616";
}
.icon-forward:before {
	content: "\e617";
}
.icon-user:before {
	content: "\e66f";
}
.icon-users:before {
	content: "\e670";
}
.icon-user-add:before {
	content: "\e671";
}
.icon-export:before {
	content: "\e672";
}
.icon-key:before {
	content: "\e600";
}
.icon-list:before {
	content: "\e673";
}
.icon-list2:before {
	content: "\e674";
}